.authcard {
  border: 1px solid var(--accent-color);
  border-radius: 30px;

  width: fit-content;

  margin: auto;
  margin-top: 2rem;
  padding: 2rem;
}

.authcard > form > div > input {
  border-width: 0;
  padding: 0.5rem;
  max-width: 70vw;
  width: 300px;
  font-size: large;
}

.authbutton {
  max-width: calc(70vw + 1rem);
  width: calc(300px + 1rem);

  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;

  font-size: large;

  background-color: var(--accent-color);
  border: 0;

  cursor: pointer;
}

.label {
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.message {
  margin-top: 0.5rem;
  width: 300px;
  max-width: 70vw;
}

.error.message {
  color: black;
  font-style: italic;
}

.logo-img {
  width: 100px;
  margin-top: 1rem;
  margin-bottom: 0;
}
#picker {
  justify-content: center !important;
  align-items: center !important;
  width: 100%;
  max-width: calc(70vw + 1rem);
  width: calc(300px + 1rem);

  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.circle-picker {
  flex-wrap: wrap;
  margin-right: -14px !important;
  margin-bottom: 0px !important;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
